// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.check_top {
  padding-top: 20px;
}

.main-section {
  height: 600px;
}

.content-section {
  height: 850px;
}
