// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-actions {
  padding-left: 30px;
  padding-top: 20px;
}

.remember {
  padding-left: 30px;
}

.login {
  padding-left: 30px;
}

.hero {
  padding-top: 50px;
}

.section {
  height: 700px;
}
